SUPABASE_URL=https://rgatwqqorbjiqsdpklgz.supabase.co
SUPABASE_KEY=sb_publishable_VlzagXWukzyDGB-yLzWxYQ_ZrFW9LeR
JWT_SECRET=WRRPjzlYPbnSEIzQT4vdiihDA7SOBYj+gy45CtAT1I/ATFjDgJ/7QLxZYlXoyMkMzQ1AoFK3xsMhIohvNvAaww==
